<nav aria-label="main navigation" class="navbar my-navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title" style="text-decoration: none;"><img src="../../favicon.svg" alt="logo"/>MedicineData</h1>
        </a>
        <a #navBurger (click)="toggleNavbar()" class="navbar-burger" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div #navMenu (click)="toggleNavbar()" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/" routerLinkActive="active">
                Strona główna
            </a>
            <a *ngIf="logged" class="navbar-item" routerLink="/chart" routerLinkActive="active">
                Statystyki
            </a>
            <a *ngIf="logged" class="navbar-item" routerLink="/table" routerLinkActive="active">
                Katalog
            </a>
            <a *ngIf="admin" class="navbar-item" routerLink="/download" routerLinkActive="active">
                Archiwizuj
            </a>
        </div>


        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-info is-outlined" (click)="openAccessibility()">Dostepność</button>
                </div>

            </div>

            <div class="navbar-item" *ngIf="logged">
                <div class="buttons">
                    <a class="button is-success is-outlined" disabled>{{email}}</a>
                    <a class="button is-danger" routerLink="/logout" routerLinkActive="active">Wylogowanie</a>
                </div>
            </div>

            <div class="navbar-item" *ngIf="!logged">
                <div class="buttons">
                    <a class="button is-success is-outlined" routerLink="/login" routerLinkActive="active">Logowanie</a>
                    <a class="button is-primary is-outlined" routerLink="/register"
                       routerLinkActive="active">Rejestracja</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal" [ngClass]="accessibilityVisibility ? 'is-active' : undefined">
    <div class="modal-background" (click)="closeAccessibility()" ></div>
    <div class="modal-content">
        <app-md-accessibility-select />
    </div>
    <button class="modal-close is-large" (click)="closeAccessibility()"></button>
</div>
