<app-md-navbar></app-md-navbar>
<div *ngIf="!searchEmpty">
    <div class="section md-section-color">
        <h1 class="title my-title md-font-color">Wyniki wyszukiwania dla: {{this.name}}</h1>

        <form [formGroup]="optionForm">
            <div class="my-content-selection-row">
                <div class="select my-select-container">
                    <select formControlName="sortBy">
                        <option *ngFor="let sortBy of sortTypes"
                                value="{{sortBy}}">{{prepareNameForColumns(sortBy)}}</option>
                    </select>
                </div>

                <div class="select my-select-container">
                    <select formControlName="sortDir">
                        <option value="true">Ascending</option>
                        <option value="false">Descending</option>
                    </select>
                </div>
            </div>
        </form>
    </div>


    <div class="my-container">
        <div class="card my-card md-border-color" *ngFor="let product of products">
            <div class="card-content">
                <div class="content">
                    <p class="title md-font-color">{{product.nazwaProduktu}}</p>
                    <p class="subtitle md-font-color">{{product.nazwaPowszechnieStosowana}}</p>
                    <p class="md-font-color">Numer pozwolenia: {{product.numerPozwolenia}}</p>
                    <p class="md-font-color">Rodzaj proparatu: {{product.rodzajPreparatu}}</p>
                    <p class="md-font-color">Moc: {{product.moc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-pagination md-background-color" *ngIf="currentPage !== allPages">
        <app-md-pagination (pageChanged)="pageChanged($event)" [allPages]="allPages"
                           [currentPage]="currentPage"></app-md-pagination>
    </div>
</div>

<div *ngIf="searchEmpty" class="my-container-column">

    <h1 class="title my-title">Brak wyników wyszukiwania dla: {{this.name}}</h1>
    <p>
        <a routerLink="/" routerLinkActive="active" class="button is-primary  mt-3">Home</a>
    </p>
</div>
