<app-md-navbar></app-md-navbar>

<div class="my-container">
    <div class="my-center">
        <div class="card" style="width: 100%">
            <div class="card-content">
                <p class="title">Download</p>
                <div class="content">
                    <button class="button is-fullwidth mt-3" (click)="downloadJson()">JSON</button>
                    <button class="button is-warning is-outlined is-fullwidth mt-3" (click)="downloadXml()">XML</button>
                    <a *ngIf="saveJSON" class="button is-warning is-outlined is-fullwidth mt-3" [href]="fileUrl" download="result.json" (click)="hideButtons()">Save JSON</a>
                    <a *ngIf="saveXML" class="button is-warning is-outlined is-fullwidth mt-3" [href]="fileUrl" download="result.xml" (click)="hideButtons()" >Save XML</a>
                </div>
            </div>
        </div>
    </div>
</div>
