<app-md-navbar></app-md-navbar>
<div class="my-container">
    <div class="my-center">
        <div class="card md-border-color" style="width: 100%">
            <div class="card-content">
                <p class="title md-font-color">Logout</p>
                <div class="content">
                    <p class="md-font-color">Czy chcesz się wylogowac z konta {{email}} </p>
                    <button (click)="logout()" class="button is-danger is-fullwidth mt-3">Wylogowywanie</button>
                    <a routerLink="/" routerLinkActive="active" class="button is-primary is-fullwidth mt-3">Strona główna</a>
                </div>
            </div>
        </div>
    </div>
</div>
