<app-md-navbar></app-md-navbar>

<!--<button (click)="getProduktyLecznicze()" class="button isinfo">Get produkty lecznicze</button>-->

<ag-grid-angular
    (cellClicked)="onCellClicked($event)"
    [animateRows]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [rowSelection]="'multiple'"
    class="ag-theme-alpine"
    style="width: 100%; height: 500px"
>
</ag-grid-angular>

<app-md-pagination [allPages]="allPages" [currentPage]="currentPage" (pageChanged)="pageChanged($event)"></app-md-pagination>
