.my-container {
    width: 100vw;
    height: calc(100vh - 210px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/main-page-background.jpg");
    background-size: cover;
}

.my-search-box {
    width: 40%;
}

.my-title {
    font-size: 60px;
}

.my-subtitle {
    font-size: 30px;
}

.my-hero {
    height: 100%;
   
}

.title-container {
    background-color: rgba(255,255,255, 0.6);
    backdrop-filter: blur(10px);
    padding: 2em;
}
